@import url("https://react-loader-spinner/dist/loader/css/react-spinner-loader.css");

.App {
  font-family: sans-serif;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr;
}
:root {
  --pri-color: #fc452e;
  --sec-color: #db1d08;
  --light-orange: rgb(255, 201, 180);
  --light-purple: #754c9b;
  --light-grey: #aaaaaa;
  --dark-grey: #3d3d3d;
  --darker-grey: #212121;
  --very-dark-grey: #181818;
  --white-color: white;
  --black-color: black;
}

/* General styles */
.pointer {
  cursor: pointer;
}
.brand {
  color: var(--pri-color);
}
.padded {
  padding-left: 1rem;
  padding-right: 1rem;
}
.empty-state {
  color: var(--light-grey);
}
.page-heading {
  color: var(--white-color);
  text-align: center;
  margin: 1rem 0;
}
.mg-1 {
  margin: 0 0.5rem;
}
.modal-wrapper {
  text-align: left;
  top: 30%;
}
.video-description {
  flex-grow: 1;
}

.description {
  color: var(--light-grey);
}
.video-title {
  font-weight: lighter;
}
.thumbnail-img {
  width: 100%;
  height: 50%;
}

.side-nav-link,
.video-item-link {
  color: var(--white-color);
  text-decoration: none;
}
.side-nav-link :hover {
  color: var(--pri-color);
  transition: 200ms ease;
}
.side-nav-link.no-hover :hover {
  color: white;
}
body::-webkit-scrollbar {
  width: 0.75rem;
}

body::-webkit-scrollbar-track {
  background: var(--dark-grey);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--very-dark-grey);
}

.sidebar::-webkit-scrollbar {
  width: 0.1rem;
}

.sidebar::-webkit-scrollbar-track {
  background: var(--light-grey);
}

.sidebar::-webkit-scrollbar-thumb {
  background-color: var(--very-dark-grey);
}

body {
  background-color: var(--very-dark-grey);
}

.nav-wrapper-3 .search-wrapper {
  display: block;
}

/* Home page */
.bgColorSearchInput {
  background-color: var(--dark-grey);
  color: var(--white-color);
}
.nav-listItems-wrapper {
  display: none;
}
.mobile-view-login-btn {
  display: block;
}
.mobile-search {
  display: flex;
}
.search-modal {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 3px;
  padding: 1rem;
  z-index: 99;
  background-color: var(--light-grey);
}
.search-modal-icon {
  display: block;
}
@media screen and (min-width: 556px) {
  .search-modal-icon {
    display: none;
  }
}
.home-wrapper {
  display: grid;
  grid-template-columns: 1fr;
}
.nav-wrapper-3 {
  width: 100%;
  padding: 1.75rem 2rem;
  font-weight: bolder;
  background-color: var(--dark-grey);
}

.home-wrapper__main {
  padding: 1rem 0;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 1rem;
}
.video-item {
  display: flex;
  flex-direction: column;
  align-self: stretch;
  text-align: left;
  padding: 0.5rem;
  color: var(--white-color);
}
.video-item:hover {
  box-shadow: 0 0 5px 3px var(--dark-grey);
  transition: 200ms ease;
}
.home-wrapper__aside {
  width: 100%;
  color: var(--white-color);
  background-color: var(--darker-grey);
  padding: 1rem;
  position: fixed;
  bottom: 0;
}
.home-wrapper__aside__list {
  list-style: none;
  padding-inline-start: 0;
  font-size: 1.25rem;
  color: var(--white-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.list-item-title {
  display: none;
}
@media screen and (min-width: 556px) {
  .home-wrapper__main {
    padding: 1rem 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 1rem;
  }
  .home-wrapper__aside {
    width: auto;
  }
  .nav-listItems-wrapper {
    display: block;
  }
  .mobile-view-login-btn {
    display: none;
  }
  .mobile-search {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .home-wrapper {
    grid-template-columns: 0.1fr 1fr;
    row-gap: 2rem;
  }
  .home-wrapper__aside {
    position: static;
    min-height: 100vh;
  }

  .home-wrapper__aside__list li {
    padding: 0.75rem 0;
  }
  .home-wrapper__aside__list {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: sticky;
    top: 0;
    left: 0;
  }
  .home-wrapper__main {
    padding: 1rem 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 1rem;
  }
}
@media screen and (min-width: 992px) {
  .home-wrapper {
    grid-template-columns: 0.2fr 1fr;
    row-gap: 3rem;
  }
  .home-wrapper__aside {
    position: static;
    min-height: 100vh;
  }
  .list-item-title {
    display: inline;
    margin-left: 1rem;
  }
  .home-wrapper__aside__list {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    position: sticky;
    left: 0;
    top: 0;
  }
  .home-wrapper__main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 1rem;
    row-gap: 2rem;
  }
}

/* Video-Playing page */
.video-player-wrapper {
  padding: 0.5rem;
  margin: auto;
}
.notes-form-wrapper {
  width: 100%;
  height: 16rem;
  overflow-y: scroll;
}
.form-heading {
  color: var(--white-color);
}
.timestamp {
  text-align: left;
  color: var(--white-color);
}
.note-form {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
}
.note-card-btns-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.note-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.note-title,
.note-description {
  margin: 0.5rem 0;
  padding: 0.5rem;
  border: 1px solid var(--dark-grey);
  background-color: inherit;
  border-radius: 2px;
  text-align: left;
  color: var(--white-color);
}
.save,
.discard {
  margin: 0.5rem 0;
}
.note-card-wrapper {
  display: flex;
  flex-direction: column;
}
.note-card-wrapper.removed {
  display: none;
}

@media screen and (min-width: 556px) {
  .video-player-wrapper {
    display: flex;
    height: 475px;
  }
}
.notes-form-wrapper {
  margin-left: 2rem;
  width: 20rem;
  height: 100%;
  overflow-y: scroll;
}

.interactions-wrapper {
  padding: 1rem 0;
  background-color: var(--dark-grey);
  color: var(--light-grey);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.spaced li {
  margin: 0 0.5rem;
}
.react-player-wrapper {
  width: 95vw;
  height: 10rem;
}
@media screen and (min-width: 556px) {
  .video-player-wrapper {
    padding: 3rem;
    width: 80vw;
  }
  .react-player-wrapper {
    width: 50vw;
    height: 20rem;
  }
}

/* Liked Videos page and watch later & history page */

.liked-videos-wrapper,
.watch-later-videos-wrapper,
.history-videos-wrapper {
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 0.5rem;
  color: var(--white-color);
  text-align: left;
}
@media screen and (min-width: 556px) {
  .liked-videos-wrapper,
  .watch-later-videos-wrapper,
  .history-videos-wrapper {
    grid-template-columns: 1fr 1fr;
    column-gap: 1rem;
    row-gap: 0.5rem;
  }
}
@media screen and (min-width: 768px) {
  .liked-videos-wrapper,
  .watch-later-videos-wrapper,
  .history-videos-wrapper {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (min-width: 992px) {
  .liked-videos-wrapper,
  .watch-later-videos-wrapper,
  .history-videos-wrapper {
    grid-template-columns: repeat(4, 1fr);
  }
}

/* Playlists Styling */
.playlists-wrapper {
  padding: 1rem;
  display: grid;
  row-gap: 1rem;
}
.playlist-heading {
  text-align: left;
  margin-left: 1.75rem;
  color: var(--light-grey);
}
.playlist-items-wrapper {
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 0.5rem;
}
.pos-rel {
  position: relative;
}
.styled {
  text-decoration: none;
  color: var(--white-color);
}
.remove-btn {
  color: var(--black-color);
  position: absolute;
  top: 0.2rem;
  right: 0.2rem;
  border-radius: 50%;
  background-color: var(--light-grey-color);
}
.remove-btn .fa-times {
  padding: 0.2rem;
  font-size: 1rem;
}
@media screen and (min-width: 556px) {
  .playlists-wrapper {
    row-gap: 0.1.5rem;
  }
}
@media screen and (min-width: 768px) {
  .playlists-wrapper {
    row-gap: 0.1.5rem;
  }
  .playlist-items-wrapper {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    column-gap: 0.5rem;
  }
}

/* Signup/Login page */
.login-form {
  max-width: fit-content;
  padding: 2rem;
  background-color: transparent;
  text-align: left;
  margin: 2rem auto;
  border: 2px solid var(--black-color);
}
.login-form__fields-wrapper {
  color: var(--white-color);
}
.userEmail-input {
  width: 100%;
  padding: 0.3rem 0.25rem;
  border-radius: 5px;
}
.login-form__heading {
  margin-bottom: 1rem;
  text-align: center;
  color: var(--pri-color);
}
.username-input {
  padding: 0.35rem;
  width: 100%;
  border-radius: 4px;
  border: 1px solid var(--grey-color);
  outline-color: var(--pri-color);
}
.input-field-2 {
  outline-color: var(--pri-color);
}

.stretch {
  width: 100%;
  margin-top: 2rem;
}
.signup {
  margin-top: 0.5rem;
}
.signup-link {
  color: var(--pri-color);
  cursor: pointer;
}
.plain-input {
  border: 1px solid var(--grey-color);
  border-radius: 4px;
}
.form-error {
  color: red;
}
